# PyPI
build/
dist/
oikos.egg-info/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
.env
env/

# Notas personales
notes/
.claude/
pruebas/

# Modulos en proyección
oikos/mediciones/

# Archivos de sistema y editores
.DS_Store
.vscode/
.idea/

# Tests y Cobertura
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/