site_name: oikos
site_description: Librería de Python para modelos y análisis económico
site_author: Marcos Junior
repo_url: https://github.com/marcosjuniorhernandez/economy
repo_name: economy

theme:
  name: material
  language: es
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.sections
    - navigation.top
    - navigation.expand
    - content.code.copy
    - content.tabs.link
  palette:
    - scheme: default
      primary: white
      accent: indigo
    - scheme: slate
      primary: black
      accent: indigo

nav:
  - Inicio: index.md
  - Manual de uso: manual.md
  - Registro de cambios: changelog.md
  - Contribuciones: contributing.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js